absl-py==0.10.0
AccessControl==5.0
acme==1.1.0
Acquisition==4.7
alabaster==0.7.12
alembic==1.4.3
allennlp==1.3.0
antlr4-python3-runtime==4.8
anyio==2.2.0
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
AuthEncoding==4.2
Automat==0.8.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
blis==0.7.4
boto3==1.16.40
botocore==1.19.40
BTrees==4.7.2
cachetools==4.2.0
catalogue==1.0.0
certbot==0.40.0
certbot-nginx==0.40.0
certifi==2019.11.28
certipy==0.1.3
cffi==1.14.5
Chameleon==3.8.1
chardet==3.0.4
clang==5.0
Click==7.0
colorama==0.4.3
coloredlogs==15.0
ConfigArgParse==0.13.0
configobj==5.0.6
conllu==4.2.2
constantly==15.1.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
DateTime==4.3
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.7.1
diaparser==1.1.0
dill==0.3.3
distro==1.4.0
distro-info===0.23ubuntu1
docformatter==1.3.1
DocumentTemplate==4.0
docutils==0.16
emoji==0.6.0
entrypoints==0.3
ExtensionClass==4.5.0
fail2ban==0.11.1
filelock==3.0.12
flake8==3.8.4
flake8-bugbear==20.11.1
flaky==3.7.0
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
fvcore==0.1.2.post20201218
gast==0.4.0
gensim==3.8.3
gevent==20.9.0
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.1.11
google==3.0.0
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.53.0
greenlet==0.4.17
grpcio==1.39.0
gunicorn==20.0.4
h5py==3.1.0
humanfriendly==9.1
hydra-core==1.0.4
hyperlink==19.0.0
idna==2.8
imageio==2.9.0
imagesize==1.2.0
importlib-resources==3.3.0
incremental==16.10.1
iniconfig==1.1.1
iopath==0.1.2
iotop==0.6
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
jieba==0.42.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.0
josepy==1.2.0
json5==0.9.5
jsonlines==1.2.0
jsonnet==0.17.0
jsonpatch==1.32
jsonpickle==1.4.2
jsonpointer==2.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyter-server-mathjax==0.2.3
jupyter-telemetry==0.1.0
jupyterhub==1.3.0
jupyterlab==3.0.16
jupyterlab-discovery==5.1.2
jupyterlab-git==0.30.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
jupyterlab-widgets==1.0.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libvirt-python==6.1.0
Mako==1.1.3
Markdown==3.3.3
markdown-it-py==0.5.8
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
MultiMapping==4.1
murmurhash==1.0.5
myst-parser==0.12.10
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbdime==3.1.0
nbformat==5.1.2
nest-asyncio==1.5.1
netifaces==0.10.4
neuralnet==0.2.0
nltk==3.5
nodejs==0.1.1
notebook==6.2.0
nsscache==0.39
numpy==1.19.5
oath==1.4.3
oauthenticator==0.12.3
oauthlib==3.1.0
omegaconf==2.0.5
opt-einsum==3.3.0
optional-django==0.1.0
overrides==3.1.0
packaging==20.9
pamela==1.0.0
pandas==1.1.5
pandocfilters==1.4.3
parlai==0.10.0
parsedatetime==2.4
parso==0.8.1
pasta==0.2
PasteDeploy==2.1.1
pbr==5.4.5
Persistence==3.0
persistent==4.6.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
plac==1.1.3
pluggy==0.13.1
portalocker==2.0.0
preshed==3.0.5
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.16
protobuf==3.14.0
ptyprocess==0.7.0
py==1.10.0
py-gfm==1.0.2
py-readability-metrics==1.4.5
py-rouge==1.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.6.0
pycparser==2.20
pycurl==7.43.0.2
pydot==1.4.2
pyflakes==2.2.0
Pygments==2.8.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyICU==2.4.2
pyinotify==0.9.6
pymongo==3.11.2
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyRFC3339==1.1
pyrsistent==0.17.3
pytest==6.2.1
pytest-datadir==1.3.1
pytest-regressions==2.1.1
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.1
python-editor==1.0.4
python-gettext==4.0
python-json-logger==2.0.1
python-ldap==3.2.0
pytz==2019.3
PyYAML==5.3.1
pyzmq==22.0.3
qtconsole==5.0.1
QtPy==1.9.0
readability==0.3.1
regex==2020.11.13
requests==2.22.0
requests-mock==1.8.0
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
RestrictedPython==5.1
roman==3.3
rsa==4.6
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.4.1
screen-resolution-extra==0.0.0
seaborn==0.11.1
Send2Trash==1.5.0
sentencepiece==0.1.94
service-identity==18.1.0
sh==1.14.1
six==1.15.0
sklearn==0.0
smart-open==4.0.1
smmap==3.0.4
sniffio==1.2.0
snowballstemmer==2.0.0
soupsieve==2.1
spacy==2.3.5
Sphinx==3.4.0
sphinx-autodoc-typehints==1.11.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.22
srsly==1.0.5
stanza==1.1.1
subword-nmt==0.3.7
systemd-python==234
tabulate==0.8.7
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.6.0
tensorflow-datasets==4.2.0
tensorflow-estimator==2.6.0
tensorflow-gpu==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==0.28.0
tensorflow-text==2.6.0
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
Theano==1.0.5
thinc==7.4.5
threadpoolctl==2.1.0
tk==0.1.0
tokenizers==0.9.4
toml==0.10.2
torch==1.8.0
torchfile==0.1.0
torchtext==0.8.1
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
transaction==3.0.1
transformers==4.1.1
Twisted==18.9.0
typing-extensions==3.7.4.3
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.1.2
untokenize==0.1.1
urllib3==1.25.8
visdom==0.1.8.9
waitress==1.4.4
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.6
websocket==0.2.1
websocket-client==0.57.0
websocket-server==0.4
WebTest==2.0.35
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WSGIProxy2==0.4.6
xkit==0.0.0
yacs==0.1.8
z3c.pt==3.3.0
zc.lockfile==2.0
ZConfig==3.5.0
zExceptions==4.1
zmq==0.0.0
ZODB==5.6.0
zodbpickle==2.0.0
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.3.0
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.4
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.0
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==4.7.1
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.1
zope.schema==6.0.0
zope.security==5.1.1
zope.sequencesort==4.1.2
zope.site==4.4.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.1
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1
